<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thumbnailURL</key>
	<string>https://image.tmdb.org/t/p/w185_and_h278_bestv2/</string>
	<key>imageURL</key>
	<string>https://image.tmdb.org/t/p/w600_and_h900_bestv2/</string>
	<key>baseURL</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>apiKey</key>
	<string>bb9ac5448ad8593af996f124a80e868e</string>
	<key>listScopes</key>
	<dict>
		<key>movie</key>
		<dict>
			<key>title</key>
			<string>Movies</string>
			<key>icon</key>
			<string>movies</string>
			<key>scopes</key>
			<array>
				<dict>
					<key>title</key>
					<string>Popular</string>
					<key>url</key>
					<string>movie/popular</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Top rated</string>
					<key>url</key>
					<string>movie/top_rated</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Upcoming</string>
					<key>url</key>
					<string>movie/upcoming</string>
				</dict>
			</array>
		</dict>
		<key>show</key>
		<dict>
			<key>title</key>
			<string>TV Shows</string>
			<key>icon</key>
			<string>shows</string>
			<key>scopes</key>
			<array>
				<dict>
					<key>title</key>
					<string>Popular</string>
					<key>url</key>
					<string>tv/popular</string>
				</dict>
				<dict>
					<key>title</key>
					<string>Top rated</string>
					<key>url</key>
					<string>tv/top_rated</string>
				</dict>
				<dict>
					<key>title</key>
					<string>On air</string>
					<key>url</key>
					<string>tv/on_the_air</string>
				</dict>
			</array>
		</dict>
		<key>search</key>
		<dict>
			<key>title</key>
			<string>Search</string>
			<key>icon</key>
			<string>search</string>
		</dict>
	</dict>
</dict>
</plist>
